mixin navigation()
    menu.menu
        .container
            .special-version
                button.special-version-btn.js-special-version(type='button')
                    span.special-version-btn__icon
                        +icon('eye')
                    | Версия для&nbspслабовидящих
            nav.nav
                .nav__block
                    a.nav__title(href='#') О компании
                    .nav__list
                        a.nav__list-item(href='#') Лица компании
                        a.nav__list-item(href='#') Новости
                        a.nav__list-item(href='#') Документы
                .nav__block
                    a.nav__title(href='#') Наши услуги
                    .nav__list
                        a.nav__list-item(href='#') Аутсорсинг по охране труда
                        a.nav__list-item(href='#') Оценка профессиональных рисков
                        a.nav__list-item(href='#') Аудит по охране труда
                        a.nav__list-item(href='#') Разработка пакета локальных нормативных актов по охране труда
                        a.nav__list-item(href='#') Расследование несчастных случаев на производстве
                .nav__block
                    a.nav__title(href='#') Полезная информация
                    .nav__list
                        a.nav__list-item(href='#') Отраслевые решения
                        a.nav__list-item(href='#') Частные ситуации
                        a.nav__list-item(href='#') Вопрос-ответ
                        a.nav__list-item(href='#') Наши партнеры
                .nav__block
                    a.nav__title(href='#') Учебный центр
                    a.nav__subtitle(href='#') Сведения об образовательной организации
                    .nav__list
                        a.nav__list-item(href='#') Прайс-лист
                        a.nav__list-item(href='#') Основные сведения
                        a.nav__list-item(href='#') Структура и органы управления образовательной организацией
                        a.nav__list-item(href='#') Образование
                        a.nav__list-item(href='#') Образовательные стандарты
                        a.nav__list-item(href='#') Руководство и педагогический состав
                        a.nav__list-item(href='#') Материально-техническое обеспечение и оснащённость образовательного процесса
                        a.nav__list-item(href='#') Платные образовательные услуги
                        a.nav__list-item(href='#') Финансово-хозяйственная деятельность
                        a.nav__list-item(href='#') Стипендии и иные виды материальной поддержки
                        a.nav__list-item(href='#') Вакантные места для приема (перевода)
                        a.nav__list-item(href='#') Доступная среда
                        a.nav__list-item(href='#') Международное сотрудничество
                        a.nav__list-item(href='#') ДИСТАНЦИОННОЕ ОБУЧЕНИЕ
                        a.nav__list-item(href='#') Контакты учебного центра
                .nav__block
                    a.nav__title(href='#') Контакты