mixin feedback()
    .feedback.row
        .col-lg-offset-4.col-lg-8.col-md-offset-2.col-md-8
            h2.title.title--md.scroll-animate.scroll-animate-fadeInUp Есть вопросы? Заинтересовались? #[br] Звоните или приезжайте на встречу!
            p.test-style-1.text-style-grey.scroll-animate.scroll-animate-fadeInUp Будем рады ответить на ваши вопросы
            form.feedback__form.scroll-animate.scroll-animate-fadeInUp.fetch-form(action='/')
                .form-group
                    label(for='feedback-name') Ваше имя
                    input.required(type='text' name='feedback-name' id='feedback-name' placeholder='Введите ваше имя')
                .form-group
                    label(for='feedback-phone') Ваш телефон
                    input(type='tel' name='feedback-phone' id='feedback-phone' placeholder='+7 (___) __-__-__')
                .form-group
                    label(for='feedback-message') Ваше сообщение
                    textarea(name='feedback-message' id='feedback-message' placeholder='Введите свое сообщение')
                .form-group-submit
                    button.btn.btn--md.btn--green(type='submit') Отправить сообщение
                    .form-policy Нажав на кнопку, вы соглашаетесь на персональную обработку данных