
$highlight: #FB2B3A;
$base-grey: #c4c4c4;
$blue-gradient: linear-gradient(337.71deg, #00559D -54.08%, rgb(0 85 157 / 0%) 25.44%);
$dark-bg: #232325;
$primary-color: #33A73A;
$secondary-color: #58D41D;
$grey-md: #4A5259;
$grey-light: #E3E6EA;