include ./news-card/mixin
mixin news(data)
    .row
        each news in data
            .col-lg-4.col-md-6
                +news-card(news)

mixin news-index(data, all)
    .news-list.news-list--green
        .row
            each news in data
                .col-md-6
                    +news-card(news)
        if all
            a.btn.btn--green.btn--md.btn-all(href='#') Все новости