@import "news-card/style";
@import "main-news/style";

.news-list {
    @include mq('tablet') {
        margin-top: 16px;
    }

    .btn-all {
        margin-top: 20px;
        @include mq('tablet') {
            margin-top: 30px;
        }
    }

    &.news-list--green {
        .news-card__caption {
            color: $primary-color;
        }
    }
}