mixin articles-gallery(className)
    .articles-gallery-slider
        .articles-gallery-slider__wrapper
            .swiper.article-swiper
                .swiper-wrapper
                    .swiper-slide.swiper-slide-1
                        img( decoding="async" class="lazyload" src='img/article-gallery/carousel-1.jpg' srcset="img/placeholder.svg" data-srcset="img/article-gallery/carousel-1.jpg" width=774 height=886)
                    .swiper-slide.swiper-slide-2
                        img( decoding="async" class="lazyload" src='img/article-gallery/carousel-2.jpg' srcset="img/placeholder.svg" data-srcset="img/article-gallery/carousel-2.jpg" width=774 height=886)
                    .swiper-slide.swiper-slide-3
                        img( decoding="async" class="lazyload" src='img/article-gallery/carousel-3.jpg' srcset="img/placeholder.svg" data-srcset="img/article-gallery/carousel-3.jpg" width=774 height=886)
                    .swiper-slide.swiper-slide-4
                        img( decoding="async" class="lazyload" src='img/article-gallery/carousel-4.jpg' srcset="img/placeholder.svg" data-srcset="img/article-gallery/carousel-4.jpg" width=774 height=886)
            .swiper-button-prev
                +icon('arrow')
            .swiper-button-next
                +icon('arrow')