mixin articles-gallery(className)
    .articles-gallery-slider
        .articles-gallery-slider__wrapper
            .swiper.article-swiper
                .swiper-wrapper
                    .swiper-slide.swiper-slide-1
                        img(src='img/article-gallery/carousel-1.jpg')
                    .swiper-slide.swiper-slide-2
                        img(src='img/article-gallery/carousel-2.jpg')
                    .swiper-slide.swiper-slide-3
                        img(src='img/article-gallery/carousel-3.jpg')
                    .swiper-slide.swiper-slide-4
                        img(src='img/article-gallery/carousel-4.jpg')
            .swiper-button-prev
                +icon('arrow')
            .swiper-button-next
                +icon('arrow')