.articles-gallery-slider {
    position: relative;
    display: block;
    margin: 22px 0 10px;
    padding-bottom: 38px;

    .swiper {
        position: relative;
        border-radius: 6px;

        &-slide {
            transition: .4s ease-in-out;
            width: 100%;

            @include mq('tablet') {
                width: 22.386%;

                &.swiper-slide-prev {
                    transform: translateX(-1px);
                }

                &.swiper-slide-active {
                    width: 11.25%;

                    img {
                        border-radius: 0 0 0 6px;
                    }
                }

                &.swiper-slide-next {
                    width: 22.386%;

                    img {
                        border-radius: 0 0 0 6px;
                    }
                }

                &.swiper-slide-next + .swiper-slide {
                    width: 43.978%;

                    img {
                        border-radius: 0 0 6px 6px;
                    }
                }

                &.swiper-slide-next + .swiper-slide + .swiper-slide{
                    width: 22.386%;

                    img {
                        border-radius: 0 0 6px;
                    }
                }
            }
        }

        &-button {
            &-prev, &-next {
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 46px;
                height: 30px;
                background-color: $dark-bg;
                border-radius: 3px;

                @include mq('tablet') {
                    display: none;
                }

                .icon {
                    font-size: 11px;
                    fill: #fff;
                }
            }

            &-prev {
                left: calc(50% - 4px);
                transform: translateX(-100%);

                .icon {
                    transform: rotate(90deg);
                }
            }

            &-next {
                right: calc(50% - 4px);
                transform: translateX(100%);

                .icon {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &.articles-gallery__slider--light {
        .swiper-button-prev, .swiper-button-next {
            border: 1px solid rgba(#A5A8AA, .66);
        }
    }
}