@import "../helpers/variables";

input, textarea, select {
    appearance: none;
    padding-left: 0;
    padding-right: 0;
    transition: .3s ease;

    &:focus {
        outline: none;

        &::placeholder {
            color: transparent !important;
        }
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    appearance:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance:textfield;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include mq('desktop') {
        margin-bottom: 30px;
    }

    label {
        font-size: 10px;
        line-height: 1.5;
        color: $grey-md;

        @include mq('tablet') {
            font-size: 11px;
        }

        @include mq('desktop') {
            font-size: 16px;
        }
    }

    input[type='text'],
    input[type='mail'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='password'], textarea, select {
        display: flex;
        align-items: flex-start;
        border: none;
        border-bottom: 1px solid rgba($dark-bg, .38);
        background: none;
        color: $grey-md;
        font-size: 12px;
        line-height: 1.5;

        @include mq('tablet') {
            font-size: 16px;
        }

        @include mq('desktop') {
            font-size: 22px;
        }

        &:focus {
            border-color: $primary-color;
        }
    }

    input[type='text'],
    input[type='mail'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    input[type='password'], select {
        height: 25px;
        padding-bottom: 10px;

        @include mq('tablet') {
            height: 34px;
            padding-bottom: 10px;
        }

        @include mq('desktop') {
            height: 53px;
            padding-bottom: 20px;
        }
    }

    textarea {
        height: 104px;

        @include mq('tablet') {
            height: 120px;
        }

        @include mq('laptop') {

        }

        @include mq('desktop') {
            height: 155px;
        }
    }

    &.completed {
        input {
            border-color: $dark-bg;
        }
    }

    &.error {
        input {
            color: #D20505;
            border-color: rgba(#D20505, .38);
        }

    }

    .error-message {
        margin-top: 4px;
        font-size: 10px;
        line-height: 1.5;
        color: #D20505;

        @include mq('tablet') {
            font-size: 11px;
        }

        @include mq('desktop') {
            margin-top: 7px;
            font-size: 16px;
        }
    }
}

.form-group-submit {
    @include mq('tablet') {
        margin-top: 25px;
    }
    @include mq('desktop') {
        display: flex;
        align-items: center;
    }
}

.form-policy {
    font-size: 10px;
    line-height: 1.4;
    color: $grey-md;
    margin-top: 15px;
    @include mq('tablet') {
        font-size: 12px;
    }
    @include mq('desktop') {
        font-size: 13px;
        order: -1;
        flex-grow: 1;
    }
}

.fieldset {
    margin-bottom: 20px;

    @include mq('tablet') {
        margin-bottom: 30px;
    }

    @include mq('desktop') {
        margin-bottom: 50px;
    }
}

.form-group-checkbox {
    position: relative;
    margin-bottom: 8px;

    @include mq('tablet') {
        margin-bottom: 14px;
    }

    @include mq('dasktop') {
        margin-bottom: 20px;
    }

    input {
        position: absolute;
        opacity: 0;

        + label {
            position: relative;
            padding-left: 26px;
            cursor: pointer;

            @include mq('desktop') {
                padding-left: 36px;
            }

            &::before {
                content: '';
                width: 18px;
                height: 18px;
                border-radius: 3px;
                border: 1px solid rgba($dark-bg, .38);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: .4s ease;

                @include mq('desktop') {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                left: 0;
                top: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.7304 0.31701C16.1076 0.720412 16.0864 1.35322 15.683 1.73043L6.058 10.7304C5.67363 11.0898 5.07649 11.0899 4.69209 10.7305L0.317091 6.6405C-0.0863533 6.26334 -0.107659 5.63054 0.269504 5.22709C0.646666 4.82365 1.27947 4.80234 1.68292 5.1795L5.37493 8.63101L14.317 0.269579C14.7204 -0.107628 15.3532 -0.0863925 15.7304 0.31701Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10px;
                transform: scale(0);
                z-index: 1;
                transition: .4s ease;
                @include mq('desktop') {
                    width: 24px;
                    height: 24px;
                    background-size: 16px;
                }
            }
        }

        &:checked {
            + label {
                &:before {
                    border-color: $primary-color;
                    background-color: $primary-color;
                }
                &:after {
                    transform: scale(1);
                }

            }
        }
    }
}

.form-group-radio {
    position: relative;
    margin-bottom: 8px;

    @include mq('tablet') {
        margin-bottom: 14px;
    }

    @include mq('dasktop') {
        margin-bottom: 20px;
    }

    input {
        position: absolute;
        opacity: 0;

        + label {
            position: relative;
            padding-left: 26px;
            cursor: pointer;

            @include mq('desktop') {
                padding-left: 36px;
            }

            &::before {
                content: '';
                width: 18px;
                height: 18px;
                border: 1px solid rgba($dark-bg, .38);
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: .4s ease;

                @include mq('desktop') {
                    width: 24px;
                    height: 24px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 5px;
                top: 5px;
                width: 8px;
                height: 8px;
                background-color: $white;
                border-radius: 50%;
                z-index: 1;
                opacity: 0;
                transition: .4s ease;
                @include mq('desktop') {
                    left: 6px;
                    top: 6px;
                    width: 12px;
                    height: 12px;
                }
            }
        }

        &:checked {
            + label {
                &:before {
                    border-color: $primary-color;
                    background-color: $primary-color;
                }
                &:after {
                    opacity: 1;
                }

            }
        }
    }
}