

.service-order-modal
    h2.modal__title Заявка на обучение
    .service-order-modal__card
        .service-order-modal__card-icon
            +icon('audit')
        .service-order-modal__card-caption Оценка соответствия требованиям пожарной безопасности
    form.feedback__form
        .form-group
            label(for='feedback-name') Ваше имя
            input(type='text' name='feedback-name' id='feedback-name' placeholder='Введите ваше имя')
        .form-group
            label(for='feedback-company') Название организации
            input(type='text' name='feedback-name' id='feedback-company' placeholder='Введите название организации')
        .form-group
            label(for='feedback-phone') Ваш телефон
            input(type='tel' name='feedback-phone' id='feedback-phone')
        .form-group
            label(for='feedback-message') Ваше сообщение
            textarea(name='feedback-message' id='feedback-message' placeholder='Введите свое сообщение')
        .form-group-submit
            button.btn.btn--md.btn--green(type='button') Отправить сообщение