extends ../template/layout
include ../blocks/feedback/mixin
include ../blocks/page-header/mixin
include ../blocks/list-text/mixin
include ../blocks/contacts/mixin
include ../blocks/map/mixin


block variables
    -
        var title = 'СОТ учебный центр карточка'
    -
        var requisites = [
            'Общество с ограниченной ответственностью «Системы охраны труда» (ООО «СОТ»)',
            'Индивидуальный предприниматель Агафарова Светлана Александровна (ИП Агафарова С.А.)',
            'Учебный центр «Системы охраны труда»'
        ]

block styles
    link(rel='stylesheet' href='css/pages/contacts.css')

block content
    +page-header('Контактная информация', 'На главную страницу', 'background-image: url("../img/page-headers/contacts-header.jpg")')
    section.section-grey
        .container
            .row.bottom-lg
                .col-lg-4
                    .sidebar
                        .sidebar__text
                            p.sidebar__text--xs.
                                Компания «Системы охраны труда» — первая в Красноярске компания в сфере охраны труда, застраховавшая свою гражданскую ответственность перед клиентами.
                            p.sidebar__text--xs.
                                Наш офис принимает клиентов с понедельника по пятницу с 8 до 20 часов. Действует круглосуточная горячая линия
                        a.btn.btn--md.btn--green.mt-xs-20.mt-xl-30(href='#') Узнать больше
                .col-lg-8.first-xs.last-lg
                    +list-text(requisites, 'xs', 'dark')
                    +contacts()
    +map()
    section.section-white
        .container
            +feedback()
    +modal('service-order', 'service-order')