extends ../template/layout
include ../blocks/feedback/mixin
include ../blocks/page-header/mixin
include ../blocks/list-text/mixin
include ../blocks/education-categories/mixin
include ../blocks/articles-gallery/mixin

block variables
    -
        var title = 'СОТ учебный центр категории'
    -
        var listText1 = [
            'Работодатель или руководитель организации, его заместители, руководители филиалов и их заместители, на которых возложены обязанности по охране труда',
            'Руководители структурных подразделений и их заместители',
            'Специалисты структурных подразделений',
            'Специалисты по охране труда',
            'Работники рабочих профессий',
            'Члены комиссий по проверке знаний, ответственные за инструктажи и обучение',
            'Члены комиссий по охране труда, уполномоченные представители профсоюзов и иных представительных органов'
        ]
    -
        var listText2 = [
            'По общим вопросам охраны труда и функционирования системы управления охраной труда',
            'Безопасным методам и приемам выполнения работ при воздействии вредных или опасных производственных факторов и источников опасности, идентифицированных в рамках специальной оценки и оценки профессиональных рисков',
            'Безопасным методам и приемам выполнения работ повышенной опасности, к которым предъявляются дополнительные требования в соответствие с нормативными правовыми актами, содержащие государственные нормативные требования охраны труда.'
        ]
    -
        var educationCategories = [
            {
                icon: 'mintrud',
                name: 'Охрана труда',
                categories: [
                    'Охрана труда и безопасность в строительстве',
                    'Специальная оценка условий труда. Подготовка для членов комиссий',
                    'Специалист в области охраны труда'
                ]
            },
            {
                icon: 'eco',
                name: 'Экологическая <br> безопасность',
                categories: [
                    'Обеспечение экологической безопасности руководителями',
                    'Обеспечение экологической безопасности при работах',
                    'Специалист в области охраны труда'
                ]
            },
            {
                icon: 'bell',
                name: 'Пожарная <br> безопасность',
                categories: [
                    'Обеспечение пожарной безопасности',
                    'Обеспечение экологической безопасности при работах',
                    'Организационные мероприятия по обеспечению безопасности'
                ]
            },
            {
                icon: 'medcine',
                name: 'Оказание первой <br> помощи',
                categories: [
                    'Оказание первой помощи пострадавшим',
                    'Обеспечение экологической безопасности при работах',
                    'Оказание первой помощи при несчастных случаях'
                ]
            }
        ]


block styles
    link(rel='stylesheet' href='css/pages/education-center.css')

block content
    +page-header('Учебный центр', 'На главную страницу', 'background-image: url("../img/page-headers/education-categories-header.jpg")')
    section.section-grey
        .container
            .row.bottom-lg
                .col-lg-4
                    .sidebar
                        .sidebar__text
                            p.sidebar__text--sm.sidebar__text--dark.
                                Обучение на курсах охраны труда и пожарно-технического минимума позволит
                                Вам утвердить все нужные инструкции и документы, создать специализированную
                                службу охраны труда и пожарной безопасности.
                .col-lg-8.first-xs.last-lg
                    h2.title.title--md.
                        Учебный Центр «Системы охраны труда»
                        проводит обучение работодателей и работников вопросам охраны труда следующих категорий слушателей:
                    +list-text(listText1, 'sm', 'dark')
            +education-categories(educationCategories)
    section.section-dark
        .container
            +articles-gallery()
            .row.bottom-lg.my-lg-90
                .col-lg-4
                    .sidebar
                        .sidebar__text
                            p.sidebar__text--md.sidebar__text--light.
                                Обучение требованиям охраны труда проводится по программам обучения
                                (п.&nbsp;46 Правил обучения №&nbsp;2464)
                .col-lg-8
                    +list-text(listText2, 'md', 'light')
    section.section-white
        .container
            +feedback()