extends ../template/layout
include ../blocks/feedback/mixin
include ../blocks/page-header/mixin
include ../blocks/pagination/mixin
include ../blocks/news/mixin
include ../blocks/news/main-news/mixin

block variables
    -
        var title = 'СОТ Список новостей'
    -
        var mainNews = {
            img: '/img/news/main-news',
            date: '27 января 2022',
            caption: 'Порядок проведения инвентаризации стационарных источников и выбросов загрязняющих веществ в атмосферный воздух'
        }
    -
        var newsList = [
            {
                date: '22 апреля 2022',
                caption: 'Введение новых Правил обучения по охране труда и проверки знания требований охраны труда.'
            },
            {
                date: '27 января 2022',
                caption: 'Порядок проведения инвентаризации стационарных источников и выбросов загрязняющих веществ в атмосферный воздух'
            },
            {
                date: '22 апреля 2022',
                caption: 'С завтрашнего дня обучать сотрудников по ОТ можно только после уведомления Минтруда'
            },
            {
                date: '24 января 2020',
                caption: 'Добавлены новые программы в обучение по пожарной безопасности'
            },
            {
                date: '25 ноября 2021',
                caption: 'Показать все что скрыто: Роструд проводит «охоту» на скрытые несчастные случаи'
            },
            {
                date: '24 января 2020',
                caption: 'Добавлены новые программы в обучение по пожарной безопасности'
            },
            {
                date: '22 апреля 2022',
                caption: 'Введение новых Правил обучения по охране труда и проверки знания требований охраны труда.'
            },
            {
                date: '27 января 2022',
                caption: 'Порядок проведения инвентаризации стационарных источников и выбросов загрязняющих веществ в атмосферный воздух'
            },
            {
                date: '22 апреля 2022',
                caption: 'Порядок проведения инвентаризации стационарных источников и выбросов загрязняющих веществ в атмосферный воздух'
            },
            {
                date: '27 января 2022',
                caption: 'Введение новых Правил обучения по охране труда и проверки знания требований охраны труда.'
            },
            {
                date: '24 января 2020',
                caption: 'Порядок проведения инвентаризации стационарных источников и выбросов загрязняющих веществ в атмосферный воздух'
            },
            {
                date: '25 ноября 2021',
                caption: 'С завтрашнего дня обучать сотрудников по ОТ можно только после уведомления Минтруда'
            }
        ]

block styles
    link(rel='stylesheet' href='css/pages/news.css')

block content
    +page-header('Новости компании', 'На главную страницу', 'background-image: url("../img/page-headers/news-header.jpg")')
    section.section-grey
        .container
            .news-list
                +main-news(mainNews)
                +news(newsList)
                +pagination()

    section.section-white
        .container
            +feedback()
    +modal('ask-question', 'ask-question')