mixin ask-question()
    .ask-question
        .ask-question__caption Если вы не нашли ответа на свой вопрос, то можете задать его нашим специалистам.
        button.btn.btn--md.btn--green.modal-trigger.md-setperspective(data-modal='ask-question') Задать вопрос