mixin contacts()
    .contacts
        .contacts__cards
            .contacts__card
                .contacts__phone
                    .contacts__phone-caption Круглосуточная горячая линия
                    a.contacts__phone-number(href='tel:89339991234') 8 933-999-12-34
                .contacts__mail
                    .contacts__mail-caption Электронная почта
                    .contacts__mail-address(href='mailto:sot-24@mail.ru') sot-24@mail.ru
            .contacts__card
                .contacts__phone
                    .contacts__phone-caption Учебный центр
                    a.contacts__phone-number(href='tel:89535931221') 8 953-593-12-21
                .contacts__mail
                    .contacts__mail-caption Электронная почта
                    .contacts__mail-address(href='mailto:sot-24uc@mail.ru') sot-24uc@mail.ru

mixin contacts-address()
    address.contacts-address.
        660118, Россия, Красноярский край, #[br]
        г.&nbsp;Красноярск, пр.&nbsp;Комсомольский, здание&nbsp;1Е, 4&nbsp;этаж,  пом.&nbsp;28 (офис «Системы охраны труда»)




