@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/icons";
@import "libs/normalize";
@import "libs/fonts";
@import "libs/swiper";
@import "libs/lightgallery-bundle";
@import "libs/flexboxgrid";
@import "libs/bvi";
@import "base/form";
@import "base/btns";
@import "base/titles";
@import "base/content-blocks";
@import "../blocks/header/style";
@import "../blocks/footer/style";
@import "../blocks/navigation/style";
@import "../blocks/modal/style";
@import "../blocks/page-header/style";
@import "../blocks/feedback/style";

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    background: #DFE4EA;
    text-rendering: optimizespeed;
    text-decoration-skip-ink: none;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    &.lock {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($dark-bg, 0.4);
        }
    }
}

a, button, .icon {
    transition: all .3s ease;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

picture {
    display: flex;
    line-height: 1;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .inner-page {
        flex-grow: 1;
    }
}

.section-grey {
    padding: 30px 0;
    background-color: #DFE4EA;
    border-radius: 8px 8px 0 0;
    margin: 0 5px;
    position: relative;

    @include mq('tablet') {
        margin: 0 15px;
        padding: 50px 0;
    }

    @include mq('desktop') {
        padding: 90px 0;
        margin: 0 20px;
    }

    &.section-grey--margin {
        margin-top: 60px;

        @include mq('tablet') {
            margin-top: 100px;
        }

        @include mq('desktop') {
            margin-top: 140px;
        }
    }

    .section-left,
    .section-right {
        background-color: #DFE4EA;
    }

    .article-card {
        background-color: $white;
    }
}

.section-dark {
    padding: 30px 0;
    background-color: #DFE4EA;
    margin: 0 5px;

    @include mq('tablet') {
        margin: 0 15px;
        padding: 50px 0;
    }

    @include mq('desktop') {
        padding: 90px 0;
        margin: 0 20px;
    }

    .title--white {
        color: $dark-bg;
    }

    .list-text.list-text-light {
        .list-text__item {
            color: $dark-bg;
        }
    }
    .service-card {
        background-color: $white;
    }
}

.section-white {
    position: relative;
    padding: 30px 0;
    background-color: $white;
    border-radius: 0 0 6px 6px;
    margin: 0 5px;

    @include mq('tablet') {
        padding: 60px 0;
        margin: 0 15px;
    }

    @include mq('desktop') {
        padding: 90px 0;
        margin: 0 20px;
    }

    .section-left,
    .section-right {
        background-color: $white;
    }
}

.section-grey {
    +.section-white {
        border-radius: 0 0 6px 6px;
    }
}

.section-grey, .section-white {
    &.border-radius-full {
        border-radius: 6px;

        @include mq('desktop') {
            border-radius: 8px;
        }
    }
}

.section-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.section-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.mb-xs-0 {
    margin-bottom: 0;
}

.mt-xs-20 {
    margin-top: 20px;
}

.mt-xl-30 {
    @include mq('desktop') {
        margin-top: 30px;
    }
}

.mb-md-50 {
    @include mq('tablet') {
        margin-bottom: 50px;
    }
}

.mt-md-50 {
    @include mq('tablet') {
        margin-top: 50px;
    }
}

.mb-md-40 {
    @include mq('tablet') {
        margin-bottom: 40px;
    }
}

.mt-md-40 {
    @include mq('tablet') {
        margin-top: 40px;
    }
}

.parallax {
    margin: 0 auto;
    display: grid;
    will-change: transform;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

    &__img-wrap {
        grid-area: 1/1/-1/-1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark-bg;
            opacity: .5;
            z-index: 2;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__img-inner {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        grid-area: 1/1/-1/-1;
        place-self: flex-end;
        position: relative;
        z-index: 3;
        width: 100%;
        padding-bottom: 30px;
    }
}

.scroll-animate {
    &.scroll-animate-fadeInUp {
        opacity: 0;
        visibility: hidden;
        transition: none;
    }

    &.scroll-animate-fadeLeftToRight {
        width: 0;
        transition: 1.3s ease;
    }
}
