mixin filter()
    .filter.js-filter
        .filter__scroll
            button.filter__btn.active(type='button' data-url='data/documents.txt') Все документы
            button.filter__btn(type='button' data-url='data/documents1.txt') Лицензии
            button.filter__btn(type='button' data-url='data/documents.txt') Сертификаты
            button.filter__btn(type='button' data-url='data/documents1.txt') Благодарственные письма