include ../navigation/mixin

mixin header(data)
    header.header
        .container
            .row.middle-xs
                .col-md-4.col-xs-6
                    a.header__logo(href='/')
                        +icon('logo')
                        span Системы #[br] охраны труда
                .col-lg-2.col-md-3.hidden-xs
                    .header__clock
                        +icon('clock')
                        | Моментальный старт работы
                .col-lg-6.col-md-5.col-xs-6
                    .header__group
                        .header__special-version
                            a.special-version-btn.js-special-version.bvi-open(href='#')
                                span.special-version-btn__icon
                                    +icon('eye')
                                |Версия  #[br] для&nbspслабовидящих
                        .header__phone
                            span Круглосуточная горячая линия
                            a(href='tel:89339991234') 8 933 999-12-34
                        button.btn.btn--md.btn--dark.modal-trigger.md-setperspective(data-modal='feedback-modal') Обратный звонок
                        button.header__menu.js-menu-toggle
                            span
                            span
        +navigation()