mixin memeber-modal()
    .member-card
        .member-card__photo
            +srcsetRetinaImg('/img/members/member-card-photo', 'jpg')
        .member-card__info
            .member-card__name Анастасия Корневич
            .member-card__post Директор департамента управления складской недвижимостью
            .member-card__bio.
                В команде с 2012 года. Анастасия имеет более 20 лет опыта в
                области юридического сопровождения всех видов коммерческой недвижимости,
                представления интересов во всех инстанциях арбитражных судов,
                включая Верховный Суд РФ и суды общей юрисдикции.
            .member-card__phone
                span Контактный телефон
                a(href='tel:89135079465') 8 913-507-94-65
            .member-card__mail
                span Электронная почта
                a(href='mailto:sot-24@mail.ru') sot-24@mail.ru
